services:
  cs2-server:
    image: 'cs2-arm64'
    container_name: 'cs2-server'
    ports:
      - '27015:27015/udp'
      - '27015:27015/tcp'
    restart: 'unless-stopped'
    ulimits:
      nice:
        soft: -20
        hard: -20
    environment:
      - EXTRA_PARAMS=+map de_dust2 -nojoy -nohltv +engine_no_focus_sleep 0 +fps_max 64 +sv_max_usercmd_future_ticks 8 +sv_hibernate_when_empty 0
      - ALWAYS_UPDATE_ON_START=true # need to be set to false if you install modding
      - INSTALL_MODDING=false # true or false
      - STEAM_GAMESERVER_API=
      - DOTNET_EnableWriteXorExecute=0 # DO NOT REMOVE, WILL BREAK CounterStrikeSharp
      # DOTNET_TieredCompilation=0
      - CPU_CORE_COUNT=3 # oracle cloud maxed out always free ocpu is 4
    volumes:
      - './cs2-data:/cs2-data'
      - './init-server.sh:/home/steam/init-server.sh:rw'
      - './fex-data:/home/steam/.fex-emu'
    stdin_open: true
    tty: true
    entrypoint: /home/steam/init-server.sh
